body{
    height: 95vh;
    background-color:lemonchiffon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    font-size: xx-large;
    font-weight: 600;
    display: flexbox;
    align-content: center;
    height: 20vh;
    justify-self:center;
}

.action{
    display: flex;
    height: 40vh;
    font-size: x-large;
    font-weight: 600;
    align-items: center;
    justify-content:space-around;
}

.computer{
    padding: 120px;
    background-color: coral;
    margin: 20px;
    border-radius: 10px;
}
.human{
    padding: 120px;
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
}


.rock, .paper, .scissor{
    padding: 10px 30px;
    font-size: x-large;
    background-color: rebeccapurple;
    color: aliceblue;
    border-radius: 15px;
    margin: 5px;
}

.score{
    display: flex;
    background-color: powderblue;
    margin-top: 40px;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    font-size: xx-large;
    
}

.button-set{
    justify-items: center;
}

.human-played, .computer-played{
    justify-self: center;
}

.credits{
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}